<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_podcast.name %>
</p>

<%= link_to 'Edit', edit_type_podcast_path(@type_podcast) %> |
<%= link_to 'Back', type_podcasts_path %>
