<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 mt-12">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Code de partage du manuel
  </h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">
    Copiez et partager ce code à celui que souhaite télécharger le manuel. <br>
    Ce code est à usage unique, une fois utilisé il ne sera plus utilisable par une personne car automatiquement supprimé.</p>
</div>

<div class="mt-4 m-auto">
  Copier ce code et partagez-le
  <p class="text-5xl mt-4">
    <%= params[:code] %>
  </p>
</div>