<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 mt-12">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Code de partage du manuel
  </h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">
    Copiez et partager ce code à celui que souhaite télécharger le manuel. <br>
    Ce code est à usage unique, une fois utilisé il ne sera plus utilisable par une personne car automatiquement supprimé.</p>
</div>

<div class="mt-4 m-auto">
  Copier ce code et partagez-le
  <p class="text-5xl mt-4">
    <%= params[:code] %>
  </p>
  <p class="mt-10 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" onclick = "share()" >Partager</p>
</div>
<script>
  function share(){
    if (navigator.share) {
      navigator.share({
        title: document.title,
        text: "Entrer ce code <%= params[:code] %> pour obtenir votre manuel de jeûne et prière numérique -- ",
        url: 'https://ministereprophetique.herokuapp.com/'
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
    } else {
      // fallback
    }
  }
</script>