<!-- This example requires Tailwind CSS v2.0+ -->

<tr>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= user_command.complete_name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= user_command.email %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= user_command.pays %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= time_ago_in_words(user_command.created_at) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
  </td>
</tr>

