<h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-0">New Podcast</h1>
<p class="text-gray-500 text-xl mb-8"> Ajouter un nouveau podcast</p>

<%= render 'form', podcast: @podcast %>

<%= link_to 'Back', podcasts_path %>
